
.main-header {
  font-family: "Abel";
  font-style: normal;
  opacity: 0.9;
}

a.name {
    text-decoration: none;
    font-size: 2.0vw;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5vw 0.5vw;
    overflow: hidden;
    background-color: #333;
    /*position: sticky;*/
}

li.other {
    float: right;
    font-size: 1vw;
    padding-top: 0.5vw
}

li.name {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5vw 0.5vw;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}