<div class="main-header">
    <ul>
        <li class="name"><a class="name" href="default.asp">RISHEE JAYASIMHA</a></li>
        <li class="other"><a href="contact.asp">Contact</a></li>
        <li class="other"><a href="extracurricular.asp">Extra Curricular Activites</a></li>
        <li class="other"><a href="qualifications.asp">Qualifications</a></li>
        <li class="other"><a href="projects.asp">Projects</a></li>
        <li class="other"><a href="about.asp">About</a></li>
    </ul> 
</div>