<div class="container-lg" style="height: 83vh">
    <!--<div class="jumbotron">
        <div class="media">
            <img src="/assets/battelle/battelle.png" class="mr-3" alt="Batelle Memorial Institute">
                <div class="media-body">
                    <h1 class="lead text-break">
                        Junior Software Developer, Cyber and Trust Assurance Team <span class="badge badge-primary">Current</span>
                    </h1>
                    <h6 class="font-italic">Batelle Memorial Institute, Columbus OH</h6>
                    <h6 class="font-weight-lighter">Since TBD</h6>
                </div>
        </div>
        <hr class="my-4">
        <h6 class="font-weight-lighter text-break">
            INFO HERE!!!
        </h6>
    </div>-->
    <div class="card mb-3">
        <div class="card-body text-dark text-center">
            <h6 class="font-weight-bold">I am currently unemployed and looking for an opportunity to apply my skills at an ambitious company.</h6>
            <h6 class="font-weight-lighter">
                Please contact me if you are interested in hiring me. You may use the contact button above, or see my 
                <a href="https://www.linkedin.com/in/jayasimha3/">LinkedIn Profile</a> or my <a href="https://osu.joinhandshake.com/users/11578467">Handshake Profile</a>.
            </h6>
        </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media">
                <img src="/assets/ohiostate/blockO.png" class="mr-3" alt="The Ohio State University">
                    <div class="media-body">
                        <h6 class="text-break">
                            Software 2 Grader
                            <button type="button" class="btn btn-sm btn-primary float-right">
                                Duration <span class="badge badge-light"> May 2018-July 2019 </span>
                            </button>
                        </h6>
                        <h6 class="font-italic">Department of Computer Science, The Ohio State University</h6>
                        <h6 class="font-weight-lighter text-break">
                            <ul class="list-group">
                                <li class="row px-3">Graded homework and projects in software development with Java. 
                                    Projects included implementing classes, and coding efficiently.</li>
                                <li class="row px-3">Guided student on software development techniques through grading and office hours.</li>
                            </ul>
                        </h6>
                    </div>
            </div>
        </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 100%;">
            <div class="card-body text-dark">
                <div class="media">
                    <img src="/assets/ohiostate/blockO.png" class="mr-3" alt="The Ohio State University">
                        <div class="media-body">
                            <h6 class="text-break">
                                Office Assistant
                                <button type="button" class="btn btn-sm btn-primary float-right">
                                    Duration <span class="badge badge-light"> August 2016-October 2017 </span>
                                </button>
                            </h6>
                            <h6 class="font-italic">Office of Student Life, The Ohio State University</h6>
                            <h6 class="font-weight-lighter text-break">
                                <ul class="list-group">
                                    <li class="row px-3">Performed customer service activities including logging mail, issuing loaner keys, and issuing equipment.</li>
                                </ul>
                            </h6>
                        </div>
                </div>
            </div>
    </div>
    <div class="card border-light" style="max-width: 100%;">
            <div class="card-body text-dark">
                <div class="media">
                    <img src="/assets/slu/stlouisuniv.png" class="mr-3" alt="Saint Louis University">
                        <div class="media-body">
                            <h6 class="text-break">
                                Intern
                                <button type="button" class="btn btn-sm btn-primary float-right">
                                    Duration <span class="badge badge-light"> June-July 2014 </span>
                                </button>
                            </h6>
                            <h6 class="font-italic">Space Systems Research Lab, Saint Louis University</h6>
                            <h6 class="font-weight-lighter text-break">
                                <ul class="list-group">
                                    <li class="row px-3 text-break">
                                        Tasked with solving the vague problem of turning a satellite on and off without entering the clean room, I built a remote on/off switch using a solenoid and pen.
                                    </li>
                                </ul>
                            </h6>
                        </div>
                </div>
            </div>
    </div>
</div>

    
