<nav class="navbar sticky-top navbar-dark navbar-expand-lg">
  <a class="navbar-brand" href="">
    <img src="/assets/logo/logo_RJ.png" alt="" width="42" height="42" title="Github">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="aboutNavbar">
            <a class="nav-link" routerLink="/about">About</a>
        <li class="nav-item" id="weNavbar">
          <a class="nav-link" routerLink="/work-experience">Work Experience</a>
        </li>
        <li class="nav-item" id="projectsNavbar">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item" id="extraNavbar">
          <a class="nav-link" routerLink="/extracurricular">Extracurricular Activites</a>
        </li>
      </ul>
      <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Contact">Contact</button>-->
      <a tabindex="0" class="btn btn-primary" role="button" data-toggle="popover" data-trigger="hover focus" data-placement="bottom" data-html="true"
        data-content="<em>Email</em>: jayasimha.3@osu.edu">
          Contact
      </a>
    </div>
</nav>