<div class="container-lg">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active bg-primary"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1" class="bg-primary"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2" class="bg-primary"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/ohiostate/blockO.png" class="d-block w-25 float-right" alt="...">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h5 class="text-break text-muted">WEBSITE</h5>
                    <p class="text-break text-muted">INFO HERE</p>
                    <p><a href="#">
                        <button type="button" class="btn btn-outline-secondary btn-sm"> More Information </button>
                    </a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/projects/KitechnAssitant.PNG" class="d-block w-25 float-right" alt="Kitchen Assitant">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h5 class="text-break text-muted">Capstone Project: Kitchen Assistant</h5>
                    <p class="text-break text-muted">
                        Developed a Google Chrome extension that acts as a kitchen assistant. 
                    </p>
                    <p><a href="#">
                        <button type="button" class="btn btn-outline-secondary btn-sm"> More Information </button>
                    </a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/projects/MLProject.PNG" class="d-block w-25 float-right" alt="ML Project">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h5 class="text-break text-muted">College Football Rankings Using Machine Learning</h5>
                    <p class="text-break text-muted">
                        Implemented Linear Regression to rank college football teams.
                    </p>
                    <p><a href="#">
                        <button type="button" class="btn btn-outline-secondary btn-sm"> More Information </button>
                    </a></p>
                </div>
            </div>
        </div>
    </div>

    <p></p>

    <div class="card border-light mb-3" style="max-width: 100%;" id="Website">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Website
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            In-Development <span class="badge badge-light"> May 2020-Present </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Department of Computer Science, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3">Graded homework and projects in software development with Java. 
                                Projects included implementing classes, and coding efficiently.</li>
                            <li class="row px-3">Guided student on software development techniques through grading and office hours.</li>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;" id="CapstoneProject">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Kitchen Assistant
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> January-April 2020 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Capstone Project, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                Developed a Google Chrome extension to act as a kitchen assistant. We used IBM Watson to search for recipes, ingredients, 
                                and other kitchen related queries. Project recieved a 97.5%.
                            </li>
                            <p></p>
                            <a href="#">
                                <button type="button" class="btn btn-outline-secondary btn-sm"> See Readme </button>
                            </a>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;" id="MLProject">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Ranking College Football Teams using Machine Learning
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> August-December 2019 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Machine Learning Class, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                Implemented linear regression to rank college football teams based on ESPN FPI, 
                                Strength of Schedule, and S&P+ ratings. Upon completion, the project received an A.
                            </li>
                            <p></p>
                            <a href="#">
                                <button type="button" class="btn btn-outline-secondary btn-sm"> See Report </button>
                            </a>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Messaging Application
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> November 2019 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">OH/IO Hackathon, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                Completed a messaging application during a 24-hour hackathon using Python, 
                                nodeJS, mongoDB. Azure AI was used to implement text-to-speech processing for the application.
                            </li>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Creating a Library Database
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> January-April 2019 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Databases Class, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                Created a relational database using SQLite and Java to handle the circulation service for a library. Upon submitting a report, received an A.
                            </li>
                            <p></p>
                            <a>
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#Contact"> Contact Me to See Report </button>
                            </a>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        CSE Grader Application
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> March-April 2019 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Web Applications Project Class, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                Created a web application to apply for grader position in a group using Ruby, HTML, Bootstrap, CSS, and JavaScript.
                            </li>
                            <li class="row px-3 text-break">
                                Project recieved an A and some elements of the design are used on the current CSE Department grader application.
                            </li>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Caulking Gun Nozzle Project
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> January-April 2018 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">The Ohio State University (in Collaboration with FORJAK Industrial)</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                Lead a team in solving the problem of having an automated and uniform caulk output from a caulking gun using
                                 SOLIDWORKS to design a nozzle for an existing caulking gun.
                            </li>
                            <li class="row px-3 text-break">
                                The design was presented to FORJAK at the end of the project and received interest from the company for real-world application.
                            </li>
                            <p></p>
                            <a>
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#Contact"> Contact Me to See White Paper </button>
                            </a>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Advanced Energy Project
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> January-April 2016 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Fundamentals of Engineering II, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                The project was centered around designing and programing an autonomous vehicle pre-programed to run to the end of a ceiling track, 
                                collect payload, and go back to start.
                            </li>
                            <li class="row px-3 text-break">
                                Developed all code using Arduino.
                            </li>
                            <p></p>
                            <a>
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#Contact"> Contact Me to See Report </button>
                            </a>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Train Project
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> November 2015 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Fundamentals of Engineering I, The Ohio State University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                The project was centered around programing a train to move in a circle while stopping at a train station 
                                and implement safety features for the track.
                            </li>
                            <li class="row px-3 text-break">
                                Developed all code using MATLAB.
                            </li>
                            <p></p>
                            <a>
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#Contact"> Contact Me to See Report </button>
                            </a>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-body text-dark">
            <div class="media-body">
                <h6 class="text-break">
                        Remote On/Off Switch
                        <button type="button" class="btn btn-sm btn-primary float-right">
                            Completed <span class="badge badge-light"> June-July 2014 </span>
                        </button>
                    </h6>
                    <h6 class="font-italic text-muted">Space Systems Reasearch Lab, Saint Louis University</h6>
                    <h6 class="font-weight-lighter text-break">
                        <ul class="list-group">
                            <li class="row px-3 text-break">
                                Tasked with solving the vague problem of turning a satellite on and off without entering the clean room, 
                                I built a remote on/off switch using a solenoid and pen.
                            </li>
                        </ul>
                    </h6>
            </div>
        </div>
    </div>

    <p></p>
    <h6 class="text-muted font-italic">
        NOTE: Some projects have a <span class="badge badge-info">Contact Me to See Report</span> button. This is to
        help prevent academic misconduct for current Ohio State students since instructors use the same projects across different semesters.
        My report will be my work, but you must contact me to see it so I can help prevent other students from cheating.
    </h6>

</div>
